<section>
<nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/recepies" routerLinkActive="active">Browser Recipies</a></li>
      <li><a routerLink="/recipe" routerLinkActive="active">I feel lucky</a></li>
      <li><a routerLink="/weekly-menu" routerLinkActive="active">Weekly Menu</a></li>
      <li><a routerLink="" routerLinkActive="active">Top recipes TBD</a></li>
      <li><a routerLink="" routerLinkActive="active">Contact Us TBD</a></li>
    </ul>
  </nav>
</section>